[submodule "dmenu"]
	path = dmenu
	url = git@github.com:riparuk/dmenu.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:riparuk/dwmblocks.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:riparuk/dwm.git
